@media(min-width: 768px) {
    .container-1 {
        display: flex;
        flex-wrap: wrap;
    }
}

.box {
    border: 1px #ccc solid;
    box-sizing: border-box;
    flex-basis: 25%;
    padding: 10px;
}